<h1>
    Ahoy! App is listening!
</h1>

<h2>
    Here you can cast a Rune.
</h2>

<button>Cast One</button>

<button>Cast Three</button>

<button>Cast Five</button>

{{#if rune}}
    {{{rune}}}
{{/if}}